
<div class="container my-5">
  <div class="bg-light p-5 rounded">
    <div class="col-sm-8 py-5 mx-auto">
      <h1 class="display-5 fw-normal" style="text-align: center;">STOCK SEARCH</h1><br/><br/><br/><br/>
      <p class="fs-5">
        
        <input type="search" class="form-control form-control-lg" placeholder="Search..." aria-label="Search" (ngModelChange)="onSearch($event)"  #searchword control-id="ControlID-3" (keyup.enter)="searchClick(searchword.value)" matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"  >
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
        
        
        <!-- <button class='btn btn-md btn-primary d-inline search'>Search</button> -->
        <button class="btn btn-outline-secondary border-left-0 border search-button" (click)="searchClick(searchword.value)" type="button">
          <i class="fa fa-search"></i>
        </button>
        <button class="btn btn-outline-secondary border-left-0 border  times-button" type="button">
        <i class="fa fa-times"></i>
        </button>
      </p>
    </div>
  </div>
</div>


<router-outlet></router-outlet>

