<div class="container-xl" *ngIf="buyResult === true">
  <div class="alert alert-success alert-dismissible fade show d-flex justify-content-center" role="alert" role="alert">
    {{ticker}} {{buySuccess}} Successfully!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>

<div class="album py-4" *ngIf="hostList['ticker']">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      
      <div class="col">
        <div style="text-align: center;"><a target="_blank" href="{{hostList['weburl']}}"><h1>{{hostList['ticker']}}</h1></a> &nbsp;
          
          <a href="javascript:void(0);" *ngIf="isWatchlist==0" (click)="saveWatchList()">
            <span class="material-icons-outlined">
              grade
            </span>
          </a>

          <span *ngIf="isWatchlist > 0" class="material-icons">
            grade
          </span>
          
        </div>
        <div style="text-align: center;"><h2>{{hostList['name']}}</h2></div>
        <div style="text-align: center;"><h4>{{hostList['exchange']}}</h4></div>
        <div style="text-align: center;">
          <button type="button" (click)="buyModal()" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" >buy</button>

          <span *ngIf="boughtTotal > 0" >
          &nbsp;&nbsp;&nbsp;<button type="button" (click)="buyModal()" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#sellModal">sell</button>
          </span>
        </div>
          

      </div>
      <div class="col">
        <div class="card border-0 align-items-center">
          <img style="height: 200px;width: 200px;" src="{{hostList['logo']}}">
          
        </div>
        <p>
          <span *ngIf="marketstatus == 'open'">
            <div style="text-align: center; color: green;">Market is Open</div>
          </span>
          
          <span *ngIf="marketstatus != 'open'">
            <div style="text-align: center; color: red;">Market Closed On {{marketServerTime | date:'yyyy-MM-dd HH:mm'}}</div>
          </span>
        </p>
      </div>
      <div class="col">
        <span *ngIf="polygonAggsPriceC >= 0">
          <div style="text-align: center; color: green;"><span class="material-icons md-dark">arrow_drop_up</span><h1>{{polygonAggsVw}}</h1></div>
          <div style="text-align: center; color: green;"><h3>{{polygonAggsPriceC}} ({{polygonAggsPercent}}%)</h3></div>
        </span>
        <span *ngIf="polygonAggsPriceC < 0">
          <div style="text-align: center; color: red;"><span class="material-icons md-dark">arrow_drop_down</span><h1>{{polygonAggsVw}}</h1></div>
          <div style="text-align: center; color: red;"><h3>{{polygonAggsPriceC}} ({{polygonAggsPercent}}%)</h3></div>
        
        <div style="text-align: center;">{{polygonAggsTime | date:'yyyy-MM-dd HH:mm'}}</div>
        </span>

      </div>
      
    </div>
  </div>
</div>

<div class="container-xl" *ngIf="hostList['f'] == true">
  <div class="alert alert-danger alert-dismissible fade show d-flex justify-content-center" role="alert" role="alert">
    No data found. Please enter a valid Ticker
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>


<div class="container" *ngIf="hostList['ticker']">
  <!-- Content here -->
  <ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
      <a class="nav-link"  [ngClass]="tabs=='Summary' ? 'active' : ''"  (click)="tabsChanges('Summary')" href="javascript:void(0);">Summary</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  [ngClass]="tabs=='Top News' ? 'active' : ''" (click)="tabsChanges('Top News')" href="javascript:void(0);">Top News</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  [ngClass]="tabs=='Charts' ? 'active' : ''" (click)="tabsChanges('Charts')" href="javascript:void(0);">Charts</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link"  [ngClass]="tabs=='InSights' ? 'active' : ''" (click)="tabsChanges('InSights')" href="javascript:void(0);">InSights</a>
    </li>
  </ul>
</div>

<div class="container" *ngIf="hostList['ticker'] && tabs=='Summary'">
  <div class="row">
    <div class="col">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>High Price:</b> {{priceH}}</li>
        <li class="list-group-item"><b>Low Price:</b> {{pricel}}</li>
        <li class="list-group-item"><b>Open Price:</b> {{priceo}}</li>
        <li class="list-group-item"><b>Prev.Close:</b> {{pricep}}</li>
      </ul>
    <br/>
      <div class="text-center">
        <h3><u><b>About The Company</b></u></h3>
        <br/>
        <h5><b>IPO Start Date: </b>{{hostList['ipo']}}</h5>
        <h5><b>Industry: </b>{{hostList['finnhubIndustry']}}</h5>
        <h5><b>Webpage: </b><a href="{{hostList['weburl']}}" >{{hostList['weburl']}}</a></h5>
        <h5><b>Company Peers: </b></h5>
        <h5>
          <span *ngFor="let peer of peers">
          <a href="javascript:void(0);" (click)="searchClick(peer)">{{peer}}</a>, 
          </span>
        </h5>
      </div>
    </div>
    <div class="col">
      <div *ngIf="(coption | json) != '{}'">
        <highcharts-chart 
          [Highcharts]="Highcharts"
          [options]="coption"
          [constructorType]="chartConstructor"
          style="width: 100%; height: 400px; display: block;"
        ></highcharts-chart>
        </div>
    </div>
  </div>
</div>

<div class="container text-center" *ngIf="topNews.length > 0  && tabs=='Top News'">
  <div class="row g-{{topNews.length}} mt-2">
    <div class="col-6" *ngFor="let news of topNews;let n=index" >
      <a href="javascript:void(0);" (click)="newsDetail(n)" data-bs-toggle="modal" data-bs-target="#newsModal"><div class="card">
        <div class="card-body">
          <div class="row align-items-start">
          <div class="col-4">
            <img class="border-0 img-thumbnail" src="{{news.image}}">
          </div>
          <div class="col-6 text-center">{{news.headline}}</div>
        </div>
        </div>
      </div></a>
    </div>
  </div>
</div>

<div class="modal fade" id="newsModal" tabindex="-1" aria-labelledby="newsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{topNewsDetail?.source}}</h1>
        <p><small>{{topNewsDetail?.datetime * 1000 |date:'longDate'}}</small></p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <h1>{{topNewsDetail?.headline}}</h1>
          <p>{{topNewsDetail?.summary}}</p>
          <p><small>For more details click <a href="{{topNewsDetail?.url}}" target="_blank">here</a></small></p>
          <div class="card">
            <div class="card-body">
              <p>share</p>
              <div>
                <a class="twitter-share-button"
                href="https://twitter.com/intent/tweet?text={{topNewsDetail?.headlineencode}} {{topNewsDetail?.urlencode}}" target="_blank">
              <i class="fa fa-twitter"></i></a>
              
                <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="" data-size=""><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{topNewsDetail?.urlencode}}&src=sdkpreparse" class="fb-xfbml-parse-ignore">
                  <i class="fa fa-facebook"></i>
                </a>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{ticker}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >
        <form ng-app="myApp" ng-controller="validateCtrl" name="myForm">
          <div class="row mb-3">
            <h4 >Current Price: {{polygonAggsVw}}</h4>
            <h4 >Money in Wallet: {{walletmoney}}</h4>
            <label for="inputEmail3" class="col-sm-2 col-form-label">Quantity: </label>
            <div class="col-sm-10">
              <input type="number" class="form-control" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" #quantity name="quuantity" ng-model="quuantity" required (input)="calculateBuyQuantity(quantity.value)" min="0" oninput="if(value<0)value=0;">
            </div>
            <h4 *ngIf="buytotal > walletmoney" style="color: red;">
              Not Enough Money in Wallet!
            </h4>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <h4 class="align-baseline">Total: {{this.buytotal}} </h4>
        <button type="button" class="btn btn-success btn"  [disabled]="buytotal > walletmoney || buytotal == 0 ? 'disabled': null" (click)="buy(quantity.value);" data-bs-dismiss="modal" aria-label="Close">buy</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="sellModal" tabindex="-1" aria-labelledby="esellModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="sellModalLabel">{{ticker}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >
        <form ng-app="sell" ng-controller="validateCtrl" name="sell">
          <div class="row mb-3">
            <h4 >Current Price: {{polygonAggsVw}}</h4>
            <h4 >Money in Wallet: {{walletmoney}}</h4>
            <label for="inputEmail3" class="col-sm-2 col-form-label">Quantity: </label>
            <div class="col-sm-10">
              <input type="number" class="form-control" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" #quantitysell name="quantitysell" ng-model="quantitysell" required [disabled]="true" [value]="boughtQuantity">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <h4 class="align-baseline">Total: {{this.boughtQuantity * this.polygonAggsVw}} </h4>
        <button type="button" class="btn btn-success btn" (click)="sell();" data-bs-dismiss="modal" aria-label="Close">sell</button>
      </div>
    </div>
  </div>
</div>


<div class="container" *ngIf="chartsData?.length > 0 && tabs=='Charts'">
  <div *ngIf="(chartoption | json) != '{}'">
    <highcharts-chart 
      [Highcharts]="Highcharts"
      [options]="chartoption"
      [constructorType]="chartConstructor"
      style="width: 100%;  display: block;"
    ></highcharts-chart>
    </div>
</div>

<div class="container" *ngIf="insightsData?.length > 0 && tabs=='InSights'">
  
  <div class="container">
    <div class="row justify-content-lg-center">
      <div class="col-xl-auto text-center">
        <h1><strong>Insider Sentiments</strong></h1>
      </div>
    </div>
    <div class="row justify-content-xl-center">
      <div class="col-lg-8">
    <table class="table wd-100 text-center" >
      <thead>
        <tr>
          <th scope="col">{{hostList['name']}}</th>
          <th scope="col">MSPR</th>
          <th scope="col">Change</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Total</th>
          <td>{{msprTotal}}</td>
          <td>{{changeTotal}}</td>
        </tr>
        <tr>
          <th scope="row">Positive</th>
          <td>{{msprPositive}}</td>
          <td>{{changePositive}}</td>
        </tr>
        <tr>
          <th scope="row">Negative</th>
          <td>{{msprNagtive}}</td>
          <td>{{changeNagtive}}</td>
        </tr>
      </tbody>
    </table>
    </div></div>

  </div>

  <div class="grid gap-3">
    <div class="p-2 g-col-6">
      <div *ngIf="(insightsoption | json) != '{}'">
        <highcharts-chart 
          [Highcharts]="Highcharts"
          [options]="insightsoption"
          style="width: 100%; height: 300px; display: block;"
        ></highcharts-chart>
      </div>
    </div>
    <div class="p-2 g-col-6">
      <div *ngIf="(insightsoption | json) != '{}'">
        <highcharts-chart 
          [Highcharts]="Highcharts"
          [options]="earningOption"
          style="width: 100%; height: 300px; display: block;"
        ></highcharts-chart>
      </div>
    </div>
  </div>
  
</div>